$primary-color:        #2196F3; /*blue*/
$primary-color-text:   #FFFFFF; /*white*/
$secondary-color:      #FF9800; /*orange*/
$primary-text-color:   #212121; /*grey darken-4 */
$secondary-text-color: #757575; /*grey darken-1*/
$divider-color:        #BDBDBD; /*grey lighten-1*/
$chip-selected-color: $primary-color !default;
$dropdown-color:  $primary-text-color !default;