@import 'variables.scss';
@import '../node_modules/materialize-css/sass/materialize.scss';

.top-nav {
  height: 110px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.brand-logo {
	margin-top: 25px;
	font-size: 36px;
}

.container {
	margin-top: 25px;
}

.chips {
	.input {
		width: 140px !important;
	}
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#ucsd-quarter {
	li {
		width: 33%;
	}
}

#logo-highlight {
	color: $secondary-color;
}

#class-search {
	margin-top: 25px;
}

#homepage-info {
	float: left;
}

#homepage-next {
	float: right;
}

#homepage-logo {
	z-index: -1;
	position: absolute;
  	top: 66%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}