@import 'utils/main';
@import 'vendors/main';
@import 'components/main';
@import 'pages/main';

.top-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chips {
  .input {
    width: 140px !important;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 88px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;

  &.footer-vertical {
    flex-direction: column;

    .btn-wide {
      margin: 6px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.background {
  background-image: url(/images/office.jpg);
  background-size: cover;
}

.brand-logo {
  left: 50%;
  transform: translateX(-50%);
}

.btn-back {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  width: 56px;
}
