@import 'utils/main';
@import 'vendors/main';
@import 'components/main';
@import 'pages/main';

.top-nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chips {
  .input {
    width: 140px !important;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-bottom: 64px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
}

.course-name {
  font-size: 24px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 54px * 2);
}
