<!doctype html>

<html>
<head>
	<title>IxD Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/style/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
		<nav class="top-nav">
	    <div class="nav-wrapper">
	      <span class="brand-logo">About</span>
				<ul class="nav-ul left">
					<li><a class="back" href="/"><i class="material-icons">chevron_left</i></a></li>
	      </ul>
	    </div>
	  </nav>
		<main>
      <div class="container">
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a turpis et ipsum venenatis suscipit vel sit amet nulla. Etiam ipsum est, ultrices sit amet arcu id, luctus mattis enim. Maecenas molestie quam at leo vestibulum lacinia. Duis vel justo sit amet enim lacinia placerat. Pellentesque a bibendum lectus. Nunc eu massa risus. Etiam accumsan nunc id imperdiet tincidunt. Proin non enim fringilla, porttitor elit sit amet, interdum tortor. Sed et tempor felis. Pellentesque malesuada eros ligula, quis maximus elit posuere vel. Morbi vitae risus nec risus sagittis viverra. Aliquam erat volutpat. Nulla cursus sodales viverra. Morbi non quam ac elit volutpat finibus ac sed erat.</h6>
			</div>
		</main>
		<footer>
		</footer>
	</form>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="/script/script.js"></script>
</body>
</html>
