<!doctype html>

<html>
<head>
 {{> head }}
</head>

<body>
	<div class="navbar-fixed">
		<nav class="top-nav">
	    <div class="nav-wrapper">
	      <span class="brand-logo">My Calendar</span>
				<ul class="nav-ul left">
					<li><a href="#" data-activates="slide-out" class="button-collapse waves-effect"><i class="material-icons">menu</i></a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	{{> sidenav this }}
	<main class="main-small">
		{{> courses this }}
	</main>
	<footer class="footer-vertical">
		<button class="waves-effect waves-light btn btn-large btn-wide"><span class="btn-text-centered">Export to Google Calendar</span><i class="material-icons right">event</i></button>
		<button class="waves-effect waves-light btn btn-large btn-wide"><span class="btn-text-centered">Download ICAL File</span><i class="material-icons right">file_download</i></button>
	</footer>
	{{> script }}
</body>
</html>
