<!doctype html>

<html>
<head>
  <!-- Google Analytics Content Experiment code
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='170619907-1',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  End of Google Analytics Content Experiment code -->

 {{> head }}
</head>

<body>
	<div class="navbar-fixed">
		<nav class="top-nav">
	    <div class="nav-wrapper">
	      <span class="brand-logo">My Calendar</span>
				<ul class="nav-ul left">
					<li><a href="#" data-activates="slide-out" class="button-collapse waves-effect"><i class="material-icons">menu</i></a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	{{> sidenav this }}
	<main class="main-small">
    <div class="row">
      <div class="col s12">
        <ul class="tabs" id="ucsd-quarter">
          <li class="tab col s3 disabled"><a href="#FA17">FA17</a></li>
          <li class="tab col s3"><a class="active" href="#WI18">WI18</a></li>
          <li class="tab col s3 disabled"><a href="#SP18">SP18</a></li>
        </ul>
      </div>
    </div>
    {{#if hasCourses}}
    <div class="container calendar">
      {{> courses_b this }}
    </div>
    {{else}}
      <div class="container">
        <center>
          <br />
          <h6>Add some courses to get started</h6>
        </center>
      </div>
    {{/if}}
	</main>
	<footer class="footer-vertical">
		<!--<a href="https://calendar.google.com/calendar/r?cid=http://a7-ucsdplan.herokuapp.com/ical/{{ user.id }}" target="_blank" class="waves-effect waves-light btn btn-large btn-wide"><span>Export to Google Calendar</span><i class="material-icons right">event</i></a>-->
		<a href="/ical/{{ user.id }}" target="_blank" class="waves-effect waves-light btn btn-large btn-wide" id="ical-download"><span>Download ICAL File</span><i class="material-icons right">file_download</i></a>
	</footer>
	{{> script }}
</body>
</html>
