<!doctype html>

<html>
<head>
	<title>ucsdplan.me</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="style/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<nav class="top-nav nav-extended">
    <div class="nav-wrapper">
			<ul class="left">
        <li><a class="nav-back"><i class="material-icons">keyboard_arrow_left</i></a></li>
      </ul>
      <span class="brand-logo" id="custom-event-header">Add Custom Weekly Event</span>
    </div>
    <div class="nav-content nav-wrapper">
      <span class="brand-logo course-name">{{ code }}: {{ name }}</span>
    </div>
  </nav>
	<main>
		<div class="container">
	    <form class="col s12">
				<div class="input-field col s12">
	        <i class="material-icons prefix">account_circle</i>
	        <input id="icon_prefix" type="text" class="validate">
	        <label for="icon_prefix">Event Name</label>
	      </div>
	      <div class="input-field col s12">
	        <i class="material-icons prefix">location_on</i>
	        <input id="icon_telephone" type="text" class="validate">
	        <label for="icon_telephone">Event Location</label>
	      </div>
				<p>Repeats on:</p>
				<div class="weekDays-selector">
					<input type="checkbox" id="weekday-sun" class="weekday" />
				  <label for="weekday-sun">SU</label>
				  <input type="checkbox" id="weekday-mon" class="weekday" />
				  <label for="weekday-mon">M</label>
				  <input type="checkbox" id="weekday-tue" class="weekday" />
				  <label for="weekday-tue">TU</label>
				  <input type="checkbox" id="weekday-wed" class="weekday" />
				  <label for="weekday-wed">W</label>
				  <input type="checkbox" id="weekday-thu" class="weekday" />
				  <label for="weekday-thu">TH</label>
				  <input type="checkbox" id="weekday-fri" class="weekday" />
				  <label for="weekday-fri">F</label>
				  <input type="checkbox" id="weekday-sat" class="weekday" />
				  <label for="weekday-sat">SA</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix">access_time</i>
	        <input id="event-start-time" type="text" class="timepicker">
					<label for="event-start-time">Start Time</label>
				</div>
				<div class="input-field col s6">
					<i class="material-icons prefix"></i>
	        <input id="event-end-time" type="text" class="timepicker">
					<label for="event-end-time">End Time</label>
				</div>
	    </form>
		</div>
	</main>
	<footer>
    <button class="btn btn-large waves-effect waves-light" id="section-custom" type="submit" name="action">Confirm
			<i class="material-icons right">event</i>
		</button>
		<button class="btn btn-large waves-effect waves-light" id="section-custom" type="submit" name="action">Cancel
			<i class="material-icons right">event</i>
		</button>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="/script/script.js"></script>
</body>
</html>
