<!doctype html>

<html>
<head>
 {{> head }}
</head>

<body>
<div class="navbar-fixed">
  <a href="/about" class="login-info"><i class="material-icons">info</i></a>
</div>
<main class="main-login">
	<div class="logo-img"></div>
	<div class="container">
	<center>
		<a href="/auth/google" class="waves-effect waves-light btn btn-large btn-wide"><span class="btn-text-centered">Sign In with Google</span><i class="logo-google left"></i></a>
		<!-- <p class="or">- or -</p>
		<button class="waves-effect waves-light btn btn-large btn-wide" disabled><span class="btn-text-centered">Sign In as guest</span><i class="material-icons left">person</i></button>-->
	</center>
</div>
</main>
{{> script }}
</body>
</html>
