<!doctype html>

<html>
<head>
	<title>IxD Project</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/style/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!--<nav class="top-nav">
	<div class="nav-wrapper", div style="text-align: center;">
		<span class="brand-logo">UCSDPLAN.ME</span>
	</div>
</nav>-->
<main class="main-login">
	<div class="logo-img"></div>
	<div class="container">
	<center>
		<a href="/auth/google" class="waves-effect waves-light btn btn-large btn-wide"><span class="btn-text-centered">Sign In with Google</span><i class="logo-google left"></i></a>
		<p class="or">- or -</p>
		<button class="waves-effect waves-light btn btn-large btn-wide" disabled><span class="btn-text-centered">Sign In as guest</span><i class="material-icons left">person</i></button>
	</center>
</div>
</main>
{{> script }}
</body>
</html>
