<!doctype html>

<html>
<head>
 {{> head }}
</head>

<body>
	<div class="navbar-fixed">
		<nav class="top-nav">
	    <div class="nav-wrapper">
				<ul class="left">
	        <li><a href="/"><i class="material-icons">keyboard_arrow_left</i></a></li>
	      </ul>
	      <span class="brand-logo course-name">{{ course.code }}: {{ course.name }}</span>
	    </div>
	  </nav>
	</div>
	<main>
		{{>course this }}
	</main>
	<footer>
		<button class="btn btn-large waves-effect waves-light" id="section-next" type="submit" name="action">Next
			<i class="material-icons right">send</i>
		</button>
		<button class="btn btn-large waves-effect waves-light" id="section-custom" type="submit" name="action">Add Event
			<i class="material-icons right">event</i>
		</button>
	</footer>
	{{> script }}
</body>
</html>
