<!doctype html>

<html>
<head>
 {{> head }}
</head>

<body>
	<form method="post" action="/wizard/next">
	<div class="navbar-fixed">
		<nav class="top-nav">
	    <div class="nav-wrapper">
				<ul class="left">
	        <li><button class="btn-back" type="submit" name="action" ><i class="material-icons">keyboard_arrow_left</i></button></li>
	      </ul>
	      <span class="brand-logo course-name">{{ course.code }}: {{ course.name }}</span>
	    </div>
	  </nav>
	</div>
		<main>
				{{>course this}}
				<input type="hidden" name="index" value="{{ user.wizard.index }}" />
		</main>
		<footer>
			{{#if user.wizard.final}}
			<button class="btn btn-large waves-effect waves-light" id="section-next" type="submit" name="action" value="next">Save
				<i class="material-icons right">send</i>
			</button>
			{{else}}
			<button class="btn btn-large waves-effect waves-light" id="section-next" type="submit" name="action" value="next">Next
				<i class="material-icons right">send</i>
			</button>
			{{/if}}
			<button class="btn btn-large waves-effect waves-light" id="section-custom" type="submit" name="action" style="display: none;" disabled>Add Event
				<i class="material-icons right">event</i>
			</button>
		</footer>
	</form>
	{{> script }}
</body>
</html>
