#custom-event-header {
  font-size: 20px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 54px * 2);
}

[type='checkbox'] + label {
  padding: 0;
}

[type='checkbox'] + label::before,
[type='checkbox']:not(.filled-in) + label::after {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

[type='checkbox']:checked + label::before {
  border: none;
}

.weekDays-selector {
  display: flex;
  justify-content: center;
  font-weight: bold;

  input {
    display: none !important;
  }

  input[type=checkbox] + label {
    @extend .z-depth-1;

    display: inline-block;
    width: calc(100% / 7);
    height: calc(100% / 7);
    margin-left: 10px;
    border-radius: 3px;
    background-color: $button-disabled-background;
    color: $button-disabled-color;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  input[type=checkbox]:checked + label {
    background-color: $secondary-color;
    color: #fff;
  }
}
