#ucsd-quarter {
  li {
    width: 33%;
  }
}

#class-search {
  margin-top: 25px;
}

#homepage-logo {
  z-index: -1;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}
