hr {
  opacity: 0.5;
  margin: 0;
  margin-top: 10px;
}

.card {
  padding: 0 !important;

  .card-action {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}

input:not(:checked) ~ .event-toggle-description {
  &::after {
    content: 'Tap to add to calendar';
  }
}

input:checked ~ .event-toggle-description {
  &::after {
    content: 'Added to calendar';
  }
}

.event-toggle-description {
  color: white;
  opacity: 0.87;
  float: left;
  font-size: 14px;
  line-height: 14px;
}
