$primary-color:        #03a9f4; /* blue */
$primary-color-text:   #fff; /* white */
$secondary-color:      #ffc107; /* orange */
$primary-text-color:   #212121; /* grey darken-4 */
$secondary-text-color: #757575; /* grey darken-1 */
$divider-color:        #bdbdbd; /* grey lighten-1 */
$chip-selected-color: $primary-color !default;
$dropdown-color:  $primary-text-color !default;
